<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Orientações Ordenação Diaconal</h3>
        <h6 class="op-7 mb-2">Diocese de Roma</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-round">
            <div class="card-header">
                <div class="card-head-row card-tools-still-right">
                    <div class="card-title">Instruções Gerais</div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody style="text-align: justify;">
                            <tr>
                                <th scope="row">
                                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    Utilizaremos como base o ritual disponível no link a seguir: <a
                                        href="https://pontificaleromanum-habbo.blogspot.com/p/ordenacao-simultanea-de-varios-diaconos.html?m=1"
                                        target="_blank" rel="noopener noreferrer">[Clique aqui]</a>.
                                    Todos os momentos litúrgicos, como a imposição das mãos, a oração consecratória e a
                                    Ladainha de Todos os Santos, acontecerão na embaixo.

                                    No momento de receber o Livro dos Evangelhos, cada um irá individualmente ao
                                    presbitério da paróquia. Ajoelhados, de frente para mim, receberão o livro e, em
                                    seguida, retornarão ao local indicado (tapete). O mesmo procedimento será adotado
                                    durante a promessa de obediência.

                                    Utilizaremos esse ritual como base . Todos os momentos (de imposição das mãos, de
                                    oração consecratoria, da ladainha de todos os santos) vocês farão embaixo.

                                    O momento de receberem o livro dos evangelhos, irão de 1 a 1 no presbitério da
                                    paróquia e ajoelhados, de frente a mim, irão receber o livro e depois retornar ao
                                    tapete. De igual modo, na promessa de obediência.
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    Abaixo, vocês encontrarão os modelos de vestes litúrgicas que deverão ser
                                    utilizados. Baixem os arquivos e insiram previamente o rosto de vocês nas SKINS, a
                                    fim de evitar atrasos no dia da celebração.
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    Inicialmente, utilizem a ALVA, que deve ser vestida desde o início da celebração até
                                    o momento da troca para a dalmática.
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    A DALMÁTICA será usada apenas quando for solicitado no rito. Fiquem atentos à
                                    indicação do momento correto para a troca.
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-round">
            <div class="card-header">
                <div class="card-head-row card-tools-still-right">
                    <div class="card-title">Vestes Litúrgicas a Serem Utilizadas</div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Descrição</th>
                                <th scope="col" class="text-end">Arquivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    ALVA (USAR DESDE O COMEÇO)
                                </th>
                                <td class="text-end">
                                    <a href="vestes/ordenacoes/padrao1/alva.png" download class="btn btn-success">
                                        <span class="btn-label">
                                            <i class="fa fa-download"></i>
                                        </span>
                                        Baixar
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    DALMÁTICA (USAR QUANDO SOLICITADO NO RITO)
                                </th>
                                <td class="text-end">
                                    <a href="vestes/ordenacoes/padrao1/dalmatica.png" download class="btn btn-success">
                                        <span class="btn-label">
                                            <i class="fa fa-download"></i>
                                        </span>
                                        Baixar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>