<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
      <h3 class="fw-bold mb-3">Acolhimentos Diocese de Roma</h3>
      <h6 class="op-7 mb-2">Pastoral Vocacional</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-round">
        <div class="card-header">
          <div class="card-head-row card-tools-still-right">
            <div class="card-title">Passos do Acolhimento</div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center mb-0">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Passos</th>
                  <th scope="col" class="text-end">Descrição</th>
                  <th scope="col" class="text-end">Texto a Ser enviado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                      <i class="fa fa-check"></i>
                    </button>
                    Passo 1
                  </th>
                  <td class="text-end">Perguntas Básicas para entrar na Santa Sé</td>
                  <td class="text-end">
                    <button class="btn btn-success" onclick="copiarTexto('passo1')">
                      <span class="btn-label">
                        <i class="fa fa-clipboard"></i>
                      </span>
                      Copiar Texto
                    </button>
                    <span id="passo1" style="display: none;">
                      Salve Maria!

                      Olá, tudo bem?

                      Seja muito bem-vindo(a) à *Santa Sé do Minecraft!* É uma alegria tê-lo(a) conosco.

                      📍 *Entrada - Santa Sé do Minecraft*

                      Primeiramente gostaria de me apresentar, faço parte do Clero da Diocese de Roma. Muito
                      prazer!

                      Você está ingressando na *Santa Sé do Minecraft*, na *Diocese de Roma*.
                      • 🐑 | Sumo Pontífice: *Papa Gregório V.*
                      • Vigário Geral: *Dom Lucas Cardeal Reichert*
                      • Bispo Auxiliar: *Dom Emanuel Gomes*

                      ⸻

                      ⚠️ *Para garantir um ambiente seguro e acolhedor, precisamos que você responda o
                      formulário abaixo:*

                      🔗 *Formulário:*
                      https://forms.gle/tQDpeX8JK9rqPo5F9
                      ⸻

                      ✅ *Após responder:*
                      Envie para mim um *print com as respostas e a confirmação de envio*, assim daremos
                      sequência ao próximo passo da sua jornada conosco!
                      Conte conosco em sua caminhada de fé.
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                      <i class="fa fa-check"></i>
                    </button>
                    Passo 2.1
                  </th>
                  <td class="text-end">Caso o Acolhido tenha escolhido se tornar Padre</td>
                  <td class="text-end">
                    <button class="btn btn-success" onclick="copiarTexto('passo21')">
                      <span class="btn-label">
                        <i class="fa fa-clipboard"></i>
                      </span>
                      Copiar Texto
                    </button>
                    <span id="passo21" style="display: none;">
                      🧭┃*Passo 2 – Seguimos em frente, com fé!*

                      🌴┃Muito bem, meu querido irmão em Cristo!

                      Chegamos agora a um passo importante da nossa caminhada. A partir daqui, estarei te
                      encaminhando os links dos nossos grupos de convivência e missão.

                      ⚠️┃Peço, com carinho, que você *já se retire do grupo Vocacional*, pois agora começa uma
                      nova etapa em sua jornada conosco.

                      🔗 *| Nossos Grupos Oficiais*

                      - *Grupo Geral da Comunidade*
                      ❗_Entrada obrigatória_

                      https://chat.whatsapp.com/Ju5ZYoAh9vM0oGXazFpxAs

                      - *Grupo da Diocese de Roma*
                      ❗_Entrada obrigatória_

                      https://chat.whatsapp.com/KiN8nAbOxeeLqtW8cJfcsf

                      - *Grupo do Seminário*
                      _Você escolheu trilhar o caminho como Seminarista, este grupo é para você se preparar para
                      a sua jornada sacerdotal_

                      https://chat.whatsapp.com/CfqxAc5GU4k8QCxgIaVxYH

                      - *Grupo de Conversas Diversas*

                      _Entrada opcional, mas muito bem-vinda. Aqui temos um ambiente mais leve para partilhas,
                      dúvidas e diálogos fraternos com os irmãos._

                      https://chat.whatsapp.com/KRVVnZpMxFxBi7OWof2k89

                      *📍┃Nosso Servidor no Discord*

                      Servidor Oficial da Santa Sé do Minecraft
                      ❗Entrada obrigatória
                      É por este canal que realizamos grande parte das nossas atividades e eventos vocacionais.

                      Servidor Oficial da Santa Sé do Minecraft
                      ❗_Entrada obrigatória_

                      É por este canal que realizamos grande parte das nossas atividades e eventos vocacionais.

                      https://discord.gg/Y6Cdjyfbct

                      📯 *Importante:* Caso ainda não tenha o aplicativo Discord instalado, recomendo que o
                      faça. Ele será essencial para sua participação conosco.

                      📢 *Assim que tiver ingressado em todos os grupos necessários, me avise por aqui mesmo.
                      Estarei aguardando com alegria para te conduzir ao próximo passo da sua missão conosco!*

                      *Conte com minhas orações, e que Deus continue iluminando sua caminhada.*
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                      <i class="fa fa-check"></i>
                    </button>
                    Passo 2.2
                  </th>
                  <td class="text-end">Caso o(a) Acolhido(a) tenha escolhido ser Leigo(a) envie o link do grupo
                    para o Vocacional de Leigos.</td>
                  <td class="text-end">
                    <button class="btn btn-success" onclick="copiarTexto('passo22')">
                      <span class="btn-label">
                        <i class="fa fa-clipboard"></i>
                      </span>
                      Copiar Texto
                    </button>
                    <span id="passo22" style="display: none;">
                      🧭┃*Passo 2 – Seguimos em frente, com fé!*

                      🌴┃Muito bem, meu querido(a) irmão(ã) em Cristo!

                      Chegamos agora a um passo importante da nossa caminhada. A partir daqui, estarei te
                      encaminhando os links dos nossos grupos de convivência e missão.

                      ⚠️┃Peço, com carinho, que você *já se retire do nosso grupo Vocacional da Diocese de
                      Roma*, e entre no vocacional para os Leigos.

                      🔗 *| Nossos Grupos Oficiais*

                      - *Grupo Vocacional para Leigos*
                      ❗_Entrada obrigatória_

                      https://chat.whatsapp.com/JadSr2ix1RI8uLjSHkih0L

                      *Conte com minhas orações, e que Deus continue iluminando sua caminhada.*
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                      <i class="fa fa-check"></i>
                    </button>
                    Passo 3
                  </th>
                  <td class="text-end">Instalação da Versão Correta e Configuração do Servidor no Jogo</td>
                  <td class="text-end">
                    <button class="btn btn-success" onclick="copiarTexto('passo3')">
                      <span class="btn-label">
                        <i class="fa fa-clipboard"></i>
                      </span>
                      Copiar Texto
                    </button>
                    <span id="passo3" style="display: none;">
                      🧭┃*Passo 3 – Preparando-se para entrar no mundo da Santa Sé*

                      🛑┃Muito bem, meu irmão(ã)! Agora vamos nos preparar para o próximo passo desta caminhada:
                      o acesso ao nosso mundo virtual, a *Santa Sé do Minecraft.*

                      🚨┃Se você *já possui o jogo instalado*, não é necessário reinstalar, *desde que a versão
                      seja exatamente a mesma indicada abaixo.*

                      🔗┃*Download do Minecraft - Versão 1.21.51*

                      Escolha o link correspondente ao seu dispositivo:

                      *Para Android – Versão 1:*

                      https://mcpedl.org/uploads_files/11-12-2024/minecraft-1-21-51.apk

                      *Para Android – Versão 2 (ARM64):*

                      https://mcpedl.org/uploads_files/11-12-2024/minecraft-1-21-51-arm64-v8a.apk

                      *Para Windows 10/11:*

                      https://drive.google.com/file/d/1c1Dft_FFQWei-O_QRkA3xSpw12sn_wmR/view?usp=sharing

                      📢┃Assim que concluir o download e a instalação, é necessário *criar uma conta Microsoft*
                      para que possamos lhe dar acesso ao nosso servidor.

                      ❗┃Se tiver qualquer dificuldade na criação da conta ou instalação do jogo, *me avise sem
                      hesitar*. Estou aqui para te ajudar com carinho e atenção.

                      > Que São José, padroeiro dos trabalhadores e homens justos, interceda por você nesse
                      momento de preparação!
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                      <i class="fa fa-check"></i>
                    </button>
                    Passo 4
                  </th>
                  <td class="text-end">Confirmação da presença do Acolhido(a) em nosso servidor</td>
                  <td class="text-end">
                    <button class="btn btn-success" onclick="copiarTexto('passo4')">
                      <span class="btn-label">
                        <i class="fa fa-clipboard"></i>
                      </span>
                      Copiar Texto
                    </button>
                    <span id="passo4" style="display: none;">
                      🧭┃*Passo 4 – Confirmando sua presença e acesso ao nosso mundo*

                      🌴┃Estamos quase lá, meu(ã) irmão(ã)! Agora preciso que você complete este pequeno passo
                      com atenção e zelo.

                      ⸻

                      📋┃*Formulário de Confirmação Vocacional*

                      Por gentileza, acesse o formulário abaixo e responda com sinceridade:

                      🔗 *Formulário:*

                      https://forms.gle/SUFVqrKhZGNgY5nG6

                      ✅ *Após preencher:*
                      Envie para mim um *print com as respostas e a confirmação de envio*, assim poderei
                      registrar sua participação adequadamente.

                      🌐┃*Acesso ao Servidor da Santa Sé do Minecraft*

                      Agora, vamos configurar o acesso ao nosso servidor:

                      *Nome:* Santa Sé do Minecraft
                      *Endereço:* santase.enxada.host
                      *Porta:* 10048

                      _*Obs.:* Se ao colar o endereço aparecer “https://”, basta remover — o endereço deve estar
                      limpo para funcionar corretamente._

                      *Caso haja algum problema com o endereço acima, tente esta opção alternativa:*

                      *Endereço alternativo:* br-enx-39.enxadahost
                      *Porta:* 10048

                      ⸻

                      🤔┃*Está com dúvidas ou dificuldades?*

                      Não hesite em me chamar! Estou aqui para te orientar com paciência e alegria, como um
                      verdadeiro pastor junto ao seu rebanho.
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                      <i class="fa fa-check"></i>
                    </button>
                    Passo 5
                  </th>
                  <td class="text-end">Cuidando da Skin e Aplicativos Utilizados</td>
                  <td class="text-end">
                    <button class="btn btn-success" onclick="copiarTexto('passo5')">
                      <span class="btn-label">
                        <i class="fa fa-clipboard"></i>
                      </span>
                      Copiar Texto
                    </button>
                    <span id="passo5" style="display: none;">
                      🧭┃*Passo 5 – Cuidando da sua identidade visual na Santa Sé*

                      🌿┃Muito bem, meu(minha) irmão(ã)! Agora que já estamos com quase tudo pronto, vamos
                      cuidar da sua aparência no nosso mundo da *Santa Sé do Minecraft.*

                      Para isso, você usará uma skin personalizada que representa sua identidade aqui dentro.
                      Logo abaixo, estarei enviando a skin que você deverá utilizar.

                      🎨┃*Personalize seu rosto com carinho*

                      Para fazer isso, será necessário baixar o seguinte aplicativo, que irá te ajudar *a editar
                      o rosto da skin:*

                      🔗 *App SkinSeed:*

                      https://play.google.com/store/apps/details?id=com.africasunrise.skinseed


                      🔗 *App Skin Pack Maker para Minecraft:*

                      https://play.google.com/store/apps/details?id=com.nisha.skin_pack_maker_minecraft&hl=pt_BR&pli=1


                      Com ele, você poderá *editar seu rosto em todas as skins* que forem enviadas.
                      Use sempre o mesmo rosto em todas, para manter a sua identidade visual. Capriche! Escolha
                      um rosto bonito, com cuidado e carinho.
                      Você pode ver *exemplos nos grupos* para se inspirar!

                      📹┃*Aprenda como aplicar a skin no jogo*

                      Para te ajudar, recomendo esse tutorial completo e fácil de seguir:

                      🔗 Tutorial – Como adicionar a skin no Minecraft:


                      Além disso, estou te enviando *dois vídeos* que explicam detalhadamente como:
                      1. Ajustar a sua skin;
                      https://www.youtube.com/watch?v=ZImSGR3Nha4

                      2. Inserir a skin corretamente no jogo.
                      https://www.youtube.com/watch?v=JaM_6BPAtRI

                      ⸻

                      😁┃Depois que concluir tudo, me avise para que possamos prosseguir com os próximos passos
                      da sua integração!

                      *Se surgir qualquer dúvida, estou aqui para te ajudar com alegria e atenção. Conte comigo
                      nessa caminhada!*
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>